@mixin btn_hover
    &:hover
        background-image: none
        background-color: $java
@mixin flexBoxCenter
    display: flex
    justify-content: center
    align-items: center
@mixin positionCenterBottom
    position: absolute
    left: 50%
    transform: translateX(-50%)