*
    box-sizing: border-box
button
    width: 250px
    height: 50px
    background-color: #ffe66b
    border: none
    cursor: pointer
    transition: background-color 2s
    &:hover
        background-color: #fff
    &:active
        background-color: orange
    &:focus
        background-color: gray
.circle
    width: 50px
    height: 50px
    background-color: green
    border-radius: 100%
    margin-top: 10px
    display: flex
    
    &:nth-child(3n+2)
        background-color: black
    &:before
        content: ''
        display: block
        height: 2px
        width: 0%
        margin: auto
        background-color: black
        transition: 0.5s all
    &:hover
            &:before
                width: 100%
        
