* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}

nav {
  height: 50px;
  background-color: rgb(33, 33, 33);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu .menu_item:not(:last-child) {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.menu .menu_link {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}

.subheader {
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  height: 87px;
  top: 50px;
}

.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader .subheader_official {
  margin-top: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  opacity: 0.6;
}

.subheader .subheader_call {
  margin-top: 16px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 300;
  text-align: right;
}

.subheader .subheader_phone {
  display: block;
  margin-top: 8px;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}

.subheader .subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  border-radius: 4px;
  box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.12);
  border: 0;
  background-image: linear-gradient(
    0deg,
    rgb(30, 172, 199),
    rgb(76, 226, 255) 100%
  );
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.promo {
  height: 800px;
  background: url(../img/bg/uber_bg.png) center / cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo .promo_header {
  color: #fff;
  margin: 0;
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.promo .promo_subheader {
  color: #fff;
  margin: 0;
  margin-top: 22px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.promo .promo_descr {
  margin-top: 23px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.promo .promo_btn {
  display: block;
  margin: 142px auto 0 auto;
  width: 259px;
  height: 63px;
  border-radius: 4px;
  border: 0;
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.12);
  background-image: linear-gradient(
    0deg,
    rgb(30, 172, 199),
    rgb(76, 226, 255) 100%
  );
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.reasons {
  padding: 20px 0 20px 0;
  height: 799px;
  background-color: #fff;
}

.reasons_title {
  width: 113px;
  height: 24px;
  color: rgb(255, 255, 255);
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #260b0b;
  margin: 0 auto;
}

.reasons_subtitle {
  margin-top: 20px;
  color: rgb(34, 34, 34);
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.reasons .row {
  margin-top: 17px;
}

.reasons .col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reasons .reasons_item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reasons .reasons_round {
  width: 116px;
  height: 116px;
  background-color: rgb(30, 172, 199);
  border-radius: 100%;
  display: flex;
}

.reasons .reasons_thumb {
  margin: auto;
}

.reasons .reasons_descr {
  width: 371px;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  color: rgb(32, 32, 32);
}

.reasons .reasons_descr > span {
  color: rgb(30, 172, 199);
  font-size: 17px;
  font-weight: 400;
}
